.save-contact {
    margin-top: 5%;
    margin-left: 8%;
    color: white;
    width: 45%;
    height: 25%;
    border-radius: 75px;
    background-color: black;
    font-weight: bolder;
    font-size: 56px;

}

.share {
    margin-left: 3%;
    color: white;
    width: 40%;
    border-radius: 175px;
    background-color: black;
    font-weight: bolder;
    font-size: 56px;
}

button:hover {
    background-color: #133044d8;
    color: white;
}

li {
    margin-top: 5%;
    font-size: xx-large;
    padding-left: 5%;
    display: inline-flex;
    font-weight: auto;
}

li::before {
    content: "•";
    padding-right: 5%;
    font-size: xx-large;
}

.phone-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.email-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.other-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.glyphicon {
    margin-right: 3%;
}


.socialmedia {
    margin: 5% 0% 10% 3%;
}

.fa {
    padding: 0%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: background-color 0.1s ease;

}

.fa-linkedin-square {
    background-color: white;
    color: rgba(8, 133, 250, 0.774);
}

.fa-github-square {
    background-color: white;
    color:black;
}

.fa-facebook-official {
    background-color: white;
    color: rgba(5, 122, 194, 0.76);
}

.fa-instagram {
    background-color: white;
    color: red;
}

.fa:hover {
    transform: scale(1.2);
}